<p>hello show</p>
<p ><label>ID:</label> <%= @post.id %> </p>
<p><label>Title:</label> <%= @post.title %></p>
<p><label>Body:</label> <%= @post.body %></p>

<%= link_to 'Update this post', edit_post_path(@post) %>